numpy
yt-dlp
Pillow
aiohttp
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor[srv]
beautifulsoup4
pyrogram==1.4.16
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
